<div class="columns">
    <div class="column is-10 is-offset-1 mt-4">
        <h1 class="has-text-danger is-size-2">Looking for a fun project?</h1>
        <h3 class="has-text-link is-size-4 py-3"> Find project ideas to help your children learn the content you're
            teaching!
        </h3>
        <div class="field py-4">
            <div class="button">
                <button class="button is-rounded is-warning" id="newProject"> <a href="/api/projects/allprojects/new">Create a
                    new
                    post!</a></button>
            </div>
        </div>
        {{#each projects }}
        {{>projectpost-info}}
        {{/each}}
    </div>

    <script>
        document.querySelector("#newProject").addEventListener("click", () => {
            document.location.replace("/api/projects/new")
        })
    </script>

    {{!--
    <script src="/js/newproject.js"></script> --}}