<div class="columns">
    <div class="column is-10 is-offset-1 mt-4">
        <h1 class="has-text-danger is-size-2">Looking to Pod?</h1>
        <h3 class="has-text-link is-size-4 py-3"> Find a family in your area looking to create pods with other
            families
            to
            increase learning opportunities and
            help foster healthy social skills! </h3>
        <div class="field py-4">
            <div class="button">
                <button class="button is-rounded is-warning" id="newPodPost"> <a href="/newpodpost"></a>Create a new
                    post!</button>
            </div>
        </div>
        {{#each pods }}
        {{>podpost-info}}
        {{/each}}
    </div>

    <script>
        document.querySelector("#newPodPost").addEventListener("click", () => {
            document.location.replace("/api/pod/allpodpost/new")
        })
    </script>

    {{!--
    <script src="/js/newpod.js"></script> --}}