<div class="columns">
    <div class="column">
        <h1 class="has-text-danger is-size-2">Looking to Pod?</h1>
        <h3 class="has-text-link is-size-4"> Find a family in your area looking to create pods with other families to
            increase learning opportunities and
            help foster healthy social skills! </h3>
        <div class="field">
            <div class="button">
                <button class="button is-warning" id="newPodPost"> <a href="/newpodpost"></a>Create a new
                    post!</button>
            </div>
        </div>
        {{#each posts }}
        {{>podpost-info}}
        {{/each}}
    </div>