<div class="columns">
    <div class="column">
        <h1 class="has-text-danger is-size-2">Need to relax and unwind?</h1>
        <h3 class="has-text-link is-size-4">Find out what other parents and families are doing to destress!
        </h3>
        <div class="field">
            <div class="button">
                <button class="button is-warning" id="newSelfCare"> <a href="/newselfcare"></a>Create a new
                    post!</button>
            </div>
        </div>
        {{#each posts }}
        {{>selfcarepost-info}}
        {{/each}}
    </div>