<div class="columns">
    <div class="column">
        <h1>Welcome to the HomeSchool HookUp!</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis gravida dapibus elementum. Maecenas arcu elit,
            scelerisque sit amet ultrices vitae, facilisis eu lorem. Vestibulum cursus id leo eget mollis. Aenean non
            erat felis. Donec justo ex, condimentum ac malesuada mattis, pulvinar eu leo. Aenean in magna orci. Integer
            nisi ligula, sollicitudin nec ornare sit amet, lobortis sit amet purus.

            Cras dolor libero, tincidunt vulputate lorem nec, rhoncus ultricies diam. Nam varius aliquet eros et
            facilisis. Integer eget velit non risus blandit vehicula et vitae orci. Etiam condimentum velit in purus
            ultrices ullamcorper. Aenean hendrerit pretium vehicula. Donec feugiat pharetra diam ut consectetur.
            Suspendisse sit amet magna a sem placerat rhoncus. Donec congue blandit leo quis posuere. Sed lacinia ipsum
            sed nibh egestas, non accumsan quam sollicitudin.

            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In sit amet mi
            nunc. Sed ut nunc nec nisi vulputate euismod ac sit amet augue. Mauris non justo in odio bibendum sodales
            vel non nulla. Proin et tempus arcu. Donec placerat odio sit amet lectus aliquam tristique. Aenean nec
            mollis diam.

            Sed felis neque, feugiat non facilisis quis, semper nec est. In consectetur ipsum in ex hendrerit fringilla.
            Duis maximus consequat sem ut tincidunt. Nam sit amet viverra tellus. Nulla porttitor laoreet tortor, a
            sodales felis consectetur et. Integer ante ipsum, rhoncus ut felis sit amet, maximus tempor tellus. Mauris
            facilisis, ligula at condimentum rhoncus, mi tellus iaculis tortor, non ullamcorper leo augue lobortis
            purus. Sed sit amet posuere mi. Nullam faucibus semper condimentum. Vestibulum sollicitudin risus laoreet
            tortor semper iaculis. Donec sagittis laoreet lacus a finibus. Etiam fermentum ligula a urna consequat
            posuere. Suspendisse lobortis egestas dignissim.

            Donec condimentum mattis velit sed tempor. Praesent non bibendum arcu, sit amet efficitur leo. Pellentesque
            rhoncus non nulla sed rhoncus. Aenean faucibus elementum aliquet. Etiam ac dapibus purus. Praesent non felis
            semper, vulputate dui sit amet, tristique ipsum. Vivamus id nulla velit. Maecenas non metus blandit,
            ullamcorper purus eu, volutpat dolor. Integer pretium eros a erat pretium pharetra. Sed euismod mauris ac
            ante aliquet commodo. Morbi ut libero est. Nunc at tristique lorem, et faucibus purus. Ut nec orci tortor.
            Aliquam tellus augue, sagittis at orci ac, varius ultrices justo. Pellentesque purus turpis, mollis eget
            odio a, ornare efficitur urna.
        </p>
    </div>

    <div class="column">
        <section class="section">
            <div class="container">
                <div id="carousel" class="carousel">
                    <div class="item-1">
                        <figure class="image is-96x96">
                            <img src="../public/images/pexels-andrea-piacquadio-3755707.jpg">
                        </figure>
                    </div>
                    <div class="item-2">
                        <figure class="image is-96x96">
                            <img src="../public/images/pexels-chevanon-photography-333529.jpg">
                        </figure>
                    </div>
                    <div class="item-3">
                        <figure class="image is-96x96">
                            <img src="../public/images/pexels-cottonbro-3662667.jpg">
                        </figure>
                    </div>
                    <div class="item-4">
                        <figure class="image is-96x96">
                            <img src="../public/images/pexels-cottonbro-3662839.jpg">
                        </figure>
                    </div>
                    <div class="item-5">
                        <figure class="image is-96x96">
                            <img src="../public/images/pexels-greta-hoffman-9705669.jpg">
                        </figure>
                    </div>
                    <div class="item-6">
                        <figure class="image is-96x96">
                            <img src="../public/images/pexels-kindel-media-7105597.jpg">
                        </figure>
                    </div>
                </div>
                <div class="item-7">
                    <figure class="image is-96x96">
                        <img src="../public/images/pexels-lukas-296302.jpg">
                    </figure>
                </div>
            </div>
            <div class="item-8">
                <figure class="image is-96x96">
                    <img src="../public/images/pexels-nicholas-githiri-1027931.jpg">
                </figure>
            </div>
    </div>
    <div class="item-9">
        <figure class="image is-96x96">
            <img src="../public/images/pexels-pixabay-256468.jpg">
        </figure>
    </div>
    <div class="item-10">
        <figure class="image is-96x96">
            <img src="../public/images/pexels-sharon-mccutcheon-1148998.jpg">
        </figure>
    </div>
    <div class="item-11">
        <figure class="image is-96x96">
            <img src="../public/images/pexels-yulianto-poitier-1231365.jpg">
        </figure>
    </div>
</div>
</section>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
<script>
    bulmaCarousel.attach('.carousel', {
        slidesToScroll: 1,
        slidesToShow: 1
    });

</script>