<div class="columns">
    <div class="column">
        <h1 id="has-text-danger is-size-2">Log In!</h1>
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-link" type="email" placeholder="Email input" value="" id="userName">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>

            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-link" type="email" placeholder="Password input" value="" id="userEmail">
                <span class="icon is-small is-left">
                    <i class=""></i>
                </span>
            </div>
        </div>

        <div class="buttons">
            <button class="button is-warning" id="logInBtn">Link</button>
        </div>
    </div>
</div>