<div class="columns">
    <div class="column">
        <h1 id="has-text-danger is-size-2">Create a Post</h1>
        <div class="field">
            <label class="label">Title</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-link" type="text" placeholder="Title" value="" id="projectTitle">
            </div>
        </div>
        <div class="field">
            <label class="label">Please include a description of your project and links to any resources that may be
                helpful and how it helped your student learn!</label>
            <input class="input is-link" type="text" placeholder="What is your projet?" value="" id="projectContent">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-warning" id="sumbitProject">Create</button>
        </div>
    </div>
</div>
</div>