<div class="columns">
    <div class="column">
        <h1 class="has-text-danger is-size-2">Create a Post</h1>
        <div class="field">
            <label class="label">Title</label>
            <input class="input is-link" type="text" placeholder="Title" value="" id="selfTitle">
        </div>
        <div class="field">
            <label class="label">Please include a description of what helped you and/or your family unwind, as well as
                any resources you've found helpful!</label>
            <input class="input is-link" type="text" placeholder="What helps you unwind?" value="" id="selfContent">
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-warning" id="submitCare">Create</button>
            </div>
        </div>
    </div>
</div>