<div class="columns">
    <div class="column">
        <h1 id="has-text-danger is-size-2">Join Our Community!</h1>
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-link" type="text" placeholder="Text input" value="" id="userNameInput">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-link" type="email" placeholder="Email input" value="" id="userEmailInput">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-link" type="email" placeholder="Password input" value="" id="userPassInput">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-link" type="email" placeholder="Confirm Password" value="" id="userConfirmPass">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-warning" id="signUpBtn">Link</button>
        </div>
    </div>
</div>
</div>