<div class="columns">
    <div class="column is-10 is-offset-1 mt-4">
        <h1 class="has-text-danger is-size-2 pt-2 pb-4">Join Our Community!</h1>
        <form id="signup-form">
            <div class="field">
                <label class="label has-text-link">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="text" placeholder="Text input" value="" id="userNameInput">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label has-text-link">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="email" placeholder="Email input" value="" id="userEmailInput">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label has-text-link">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="password" placeholder="Password input" value=""
                        id="userPassInput">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label has-text-link">Confirm Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-link" type="password" placeholder="Confirm Password" value=""
                        id="userConfirmPass">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>

            <div class="field py-3">
                <div class="control">
                    <button class="button is-rounded is-warning" id="signUpBtn">Sign Up!</button>
                </div>
            </div>
    </div>
    </form>
</div>
</div>

<script src="/js/signup.js"></script>