<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>HomeSchool Hookup</title>
</head>

<body>
    <header>
        <nav class="navbar has-background-link-dark has-text-white " role="navigation" aria-label="main navigation">
            <div class="navbar-brand is-flex is-align-items-center is-size-3">
                <h1 id="headerText ">HomeSchool HookUp</h1>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item has-text-white" href="/">
                        Home
                    </a>
                    <a class="navbar-item has-text-white" href="/profile">
                        Profile
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-white">
                            Posts
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/allpodposts">
                                Pod Posts
                            </a>
                            <a class="navbar-item" href="/allprojectposts">
                                Project Posts
                            </a>
                            <a class="navbar-item" href="/allselfcare">
                                Self-Care Posts
                            </a>
                        </div>
                        <a class="navbar-item has-text-white" href="/login">
                            Login
                        </a>
                        <a class="navbar-item has-text-white" href="/">
                            Logout
                        </a>
                        <a class="navbar-item has-text-white" href="/signup">
                            Sign Up
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    {{{body}}}
</body>

</html>